<script setup>
import { DataStore, Predicates } from '@aws-amplify/datastore';
import { Song } from './models';
import { ref } from 'vue';

const songs = ref([]);

DataStore.observeQuery(Song, Predicates.ALL).subscribe((snapshot) => {
  const { items, isSynced } = snapshot;
  songs.value = items;
})
</script>

<template>
  <h1>Songs:</h1>
  <ul>
    <li v-for="song of songs">
      {{ song.title }} by {{ song.artist }} ( {{ song.rating ?? 0 }} / 5 stars)
    </li>
  </ul>
</template>